
<!DOCTYPE HTML>

<html>

<%- include('head') %>

<body>

    <h1> <%= result.name %> </h1> <br/><br/>
    <br>
    <hr>
    <br>
    <h5>
        <%= result.mass %> <br/>
        <%= result.radius %> <br/>
        <%= result.latitude %> <br/>
        <%= result.longitude %> <br/>
        <%= result.distance %> <br/>
    </h5>

</body>

</html>