<!DOCTYPE HTML>

<html>

<%- include('head') %>

<body>

<h5>
    <%- include('result') %>
    <br/>
    <hr>
    <br/>
    <h5><%= result.distance %></h5> <br/>
    <h5><%= result.temperature %></h5> <br/>
    <h5><%= result.color %></h5> <br/>
    <h5><%= result.spectral_type %></h5> <br/>
    <h5><%= result.age %></h5> <br/>
    <h5><%= result.brightness %></h5> <br/>
</h5>

</body>

</html>